<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vehicle.project.vehicle.mapper.VhUpkeepCodeMapper">

    <resultMap type="VhUpkeepCode" id="VhUpkeepCodeResult">
        <result property="id" column="id"/>
        <result property="upkeepCode" column="upkeep_code"/>
        <result property="upkeepType" column="upkeep_type"/>
        <result property="upkeepContent" column="upkeep_content"/>
        <result property="maintainHour" column="maintain_hour"/>
        <result property="crashBook" column="crash_book"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="dataScope"     column="data_scope"    />
    </resultMap>

    <sql id="selectVhUpkeepCodeVo">
        select t.id, upkeep_code, upkeep_type, upkeep_content,maintain_hour, crash_book, t.create_time, t.create_by, t.update_time, t.update_by
        from vh_upkeep_code t
        LEFT JOIN sys_user u ON u.user_id = t.user_id
        LEFT JOIN sys_dept d ON u.dept_id = d.dept_id
    </sql>

    <select id="selectVhUpkeepCodeList" parameterType="VhUpkeepCode" resultMap="VhUpkeepCodeResult">
        <include refid="selectVhUpkeepCodeVo"/>
        <where>
            <if test="upkeepCode != null  and upkeepCode != ''">
                and upkeep_code like concat('%', #{upkeepCode}, '%')
            </if>
            <if test="upkeepType != null  and upkeepType != ''">and upkeep_type like concat('%', #{upkeepType}, '%')
            </if>
            <if test="upkeepContent != null  and upkeepContent != ''">and upkeep_content = #{upkeepContent}</if>
            <if test="maintainHour != null  and maintainHour != ''">and maintain_hour = #{maintainHour}</if>
            <if test="crashBook != null  and crashBook != ''">and crash_book = #{crashBook}</if>
            ${dataScope}
        </where>
    </select>

    <select id="selectVhUpkeepCodeById" parameterType="Long" resultMap="VhUpkeepCodeResult">
        <include refid="selectVhUpkeepCodeVo"/>
        where t.id = #{id}
    </select>

    <select id="selectVhUpkeepCodeByIds" parameterType="Long" resultMap="VhUpkeepCodeResult">
        <include refid="selectVhUpkeepCodeVo"/>
        where t.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectVhUpkeepCodeByCode" parameterType="String" resultMap="VhUpkeepCodeResult">
        <include refid="selectVhUpkeepCodeVo"/>
        where upkeep_code = #{upkeepCode}
    </select>
    <select id="selectVhUpkeepCode" resultMap="VhUpkeepCodeResult">
        <include refid="selectVhUpkeepCodeVo"/>
        <where>
            <if test="upkeepCode != null  and upkeepCode != ''">
                and upkeep_code like concat('%', #{upkeepCode}, '%')
            </if>
            <if test="upkeepType != null  and upkeepType != ''">and upkeep_type like concat('%', #{upkeepType}, '%')
            </if>
            <if test="upkeepContent != null  and upkeepContent != ''">and upkeep_content = #{upkeepContent}</if>
            <if test="maintainHour != null  and maintainHour != ''">and maintain_hour = #{maintainHour}</if>
            <if test="crashBook != null  and crashBook != ''">and crash_book = #{crashBook}</if>
            <if test="maintainDept != null  and maintainDept != ''">and maintain_dept = #{maintainDept}</if>
        </where>
    </select>

    <select id="selectVhUpkeepCodeByCodeAndDept" resultMap="VhUpkeepCodeResult">
        <include refid="selectVhUpkeepCodeVo"/>
        where upkeep_code = #{upkeepCode} and maintain_dept = #{maintainDept}
    </select>

    <insert id="insertVhUpkeepCode" parameterType="VhUpkeepCode" useGeneratedKeys="true" keyProperty="id">
        insert into vh_upkeep_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="upkeepCode != null  and upkeepCode != ''">upkeep_code,</if>
            <if test="upkeepType != null  and upkeepType != ''">upkeep_type,</if>
            <if test="upkeepContent != null  and upkeepContent != ''">upkeep_content,</if>
            <if test="maintainHour != null  and maintainHour != ''">maintain_hour,</if>
            <if test="crashBook != null  and crashBook != ''">crash_book,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="maintainDept != null  and maintainDept != ''">maintain_dept,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="upkeepCode != null  and upkeepCode != ''">#{upkeepCode},</if>
            <if test="upkeepType != null  and upkeepType != ''">#{upkeepType},</if>
            <if test="upkeepContent != null  and upkeepContent != ''">#{upkeepContent},</if>
            <if test="maintainHour != null  and maintainHour != ''">#{maintainHour},</if>
            <if test="crashBook != null  and crashBook != ''">#{crashBook},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="maintainDept != null  and maintainDept != ''">#{maintainDept},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateVhUpkeepCode" parameterType="VhUpkeepCode">
        update vh_upkeep_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="upkeepCode != null  and upkeepCode != ''">upkeep_code = #{upkeepCode},</if>
            <if test="upkeepType != null  and upkeepType != ''">upkeep_type = #{upkeepType},</if>
            <if test="upkeepContent != null  and upkeepContent != ''">upkeep_content = #{upkeepContent},</if>
            <if test="maintainHour != null  and maintainHour != ''">maintain_hour = #{maintainHour},</if>
            <if test="crashBook != null  and crashBook != ''">crash_book = #{crashBook},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVhUpkeepCodeById" parameterType="Long">
        delete from vh_upkeep_code where id = #{id}
    </delete>

    <delete id="deleteVhUpkeepCodeByIds" parameterType="String">
        delete from vh_upkeep_code where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
